.todo-form{
    display: flex;
    flex-direction: row;
}

.flex{
    width: 300px;
    margin: left;
}

.todo-list >li{
    margin-top: 5px;
}
.todo-list >li >div {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.todo-list button{
    margin-left: 5px;
}
