
<div class="flex">
    <h4 style="color: darkred;">Selin Hanım'ın Evcil Hayvanları</h4>
    <form class="todo-form" #f="ngForm" (ngSubmit)="onSubmit(f)"> 
      <input type="text" id="title" name="title" placeholder="Evcil Hayvan Ekleyebilirsiniz.." ngModel>
          
            <div>
  
              <button type="submit" class="btn-floating waves-effect waves-light green"><i 
                class="material-icons">add</i></button>   
            </div>
          </form>
          <ul class="product-list">
            <li *ngFor="let toso of tosos">
               <div *ngIf="!this.toso.isComplete">
              <div>{{this.toso.title}}</div>
              <div>
              <button (click)="onComplete(this.toso.id)" class="btn-floating waves-effect waves-light blue"><i class="material-icons">check</i></button>   
              <button (click)="onDelete(this.toso.id)" class="btn-floating waves-effect waves-light red" ><i class="material-icons">delete</i></button>         
              </div>
               </div>
            </li>
           
           
          
                 <br>
                 <h5 style="color: darkred;">Selin Hanım'ın Evcil Hayvan Listesi</h5>
                 <br>
                 <li *ngFor="let toso of tosos">
                  <div *ngIf="this.toso.isComplete">
                  <div>{{this.toso.title}}</div>
                  <div>
                  <button (click)="onComplete(this.toso.id)" class="btn-floating waves-effect waves-light blue"><i class="material-icons">check</i></button>   
                  <button (click)="onDelete(this.toso.id)" class="btn-floating waves-effect waves-light red" ><i class="material-icons">delete</i></button>         
                  </div>
                  </div>
                 </li>
                  </ul>
                </div>
        
          
  
